#
# Copyright (c) 2020 Circuit Dojo
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Pyrinas"

config PYRINAS
	bool "Enable Pyrinas"
	help
		This option enables Pyrinas functions.

if PYRINAS

rsource "lib/Kconfig"
rsource "subsys/Kconfig"

endif

endmenu
