#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Pyrinas Cloud"

config PYRINAS_CLOUD_ENABLED
	select MQTT_LIB
	select MQTT_LIB_TLS
	bool "Enable Pyrinas MQTT Cloud"
	help
		This option enables Pyrinas Cloud functions.

if PYRINAS_CLOUD_ENABLED

config PYRINAS_CLOUD_WORKQUEUE_STACK_SIZE
	int "Pyrinas Cloud workqueue stack size"
	default 4096

config PYRINAS_CLOUD_WORKQUEUE_PRIORITY
	int "Pyrinas Cloud workqueue priority"
	default SYSTEM_WORKQUEUE_PRIORITY

config PYRINAS_CLOUD_PROVISION_CERTIFICATES
	bool "nRF Cloud library provision of certificate"
	select MODEM_KEY_MGMT if NRF_MODEM_LIB
	help
		Enable run-time provisioning of certificates from the
		certificates header file selected by using NRF_CLOUD_CERTIFICATES_FILE

config PYRINAS_CLOUD_SEC_TAG
	int "Security tag to use for the connection"
	default 1234

config PYRINAS_CLOUD_HTTPS_SEC_TAG
	int "Security tag to use for HTTPS connection"
	default 1235

config PYRINAS_CLOUD_PEER_VERIFY
	int "Peer verify parameter for mqtt_client"
	default 2
	help
			Set to 0 for VERIFY_NONE, 1 for VERIFY_OPTIONAL, and 2 for VERIFY_REQUIRED.

config PYRINAS_CLOUD_PASSWORD
	string "MQTT password for authentication"

config PYRINAS_CLOUD_USER_NAME
	string "MQTT user name for autentication"

config PYRINAS_CLOUD_MQTT_OTA_SUB_TOPIC
	string "MQTT ota subscribe topic"
	default "%.*s/ota/sub"

config PYRINAS_CLOUD_MQTT_OTA_PUB_TOPIC
	string "MQTT ota publish topic"
	default "%.*s/ota/pub"

config PYRINAS_CLOUD_MQTT_TELEMETRY_PUB_TOPIC
	string "MQTT publish topic"
	default "%.*s/tel/pub"

config PYRINAS_CLOUD_MQTT_APPLICATION_PUB_TOPIC
	string "Application MQTT publish topic"
	default "%.*s/app/pub/%.*s"

config PYRINAS_CLOUD_MQTT_APPLICATION_SUB_TOPIC
	string "Application MQTT subscribe topic"
	default "%.*s/app/sub/%.*s"

config PYRINAS_CLOUD_MQTT_BROKER_HOSTNAME
	string "MQTT broker hostname"
	default "mqtt.yourhost.com"

config PYRINAS_CLOUD_MQTT_BROKER_PORT
	int "MQTT broker port"
	default 8884

config PYRINAS_CLOUD_MQTT_MESSAGE_BUFFER_SIZE
	int "MQTT message buffer size"
	default 512

config PYRINAS_CLOUD_MQTT_TOPIC_SIZE
	int "MQTT topic size"
	default 128

config PYRINAS_CLOUD_MQTT_PAYLOAD_SIZE
	int "MQTT payload size"
	default 512

config PYRINAS_CLOUD_MQTT_TELEMETRY_SIZE
	int "MQTT payload size"
	default 48

config PYRINAS_CLOUD_APPLICATION_CALLBACK_MAX_COUNT
	int "Max application callback count."
	default 10

config PYRINAS_CLOUD_APPLICATION_EVENT_NAME_MAX_SIZE
	int "Max size of the callback name."
	default 16

config PYRINAS_APP_VERSION_MAJOR
	int "Major verison number"
	default 1

config PYRINAS_APP_VERSION_MINOR
	int "Minor verison number"
	default 0

config PYRINAS_APP_VERSION_PATCH
	int "Patch verison number"
	default 0

config PYRINAS_APP_VERSION_COMMIT
	int "Commit verison number"
	default 0

config PYRINAS_APP_VERSION_HASH
	string "Version hash provided by Git"
	default ""

endif

endmenu