# Copyright (c) 2017-2020 Linaro Limited
# Copyright (c) 2020 Arm Limited
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "Pyrinas Configuration"

comment "Pyrinas-specific configuration options"

config HCI_NCP_RST_PORT
	string "Port connected to to reset for HCI device."
	default GPIO_0 if BOARD_CIRCUITDOJO_FEATHER_NRF9160_NS
	help
	  Pin used to reset external HCI device.

config HCI_NCP_RST_PIN
	int "Pin to reset external HCI device."
	default 0 if BOARD_CIRCUITDOJO_FEATHER_NRF9160_NS
	help
	  Pin used to reset external HCI device.

source "Kconfig.zephyr"
